@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
}

body {
  background-color: #efefef;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #1d1d1d;
  background: #efefef;
  height: 100vh;
  outline: #8fdd92 2px solid;
}

#ClientHome .search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 15vh;
  background: #8fdd92;
}

#ClientHome .search-bar .searchbar-content button {
  border-radius: 18px;
  height: 100%;
  background-color: gray;
  color: white;
  cursor: pointer;
  font-size: 11px;
  padding: 0 6px;
}

.LogoTab img {
  width: 104px;
}

#ClientHome .search-bar .searchbar-content {
  height: 50%;
  width: 55%;
  border: none;
  border-radius: 18px;
  background: #efefef;
  padding-left: 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loupe {
  width: 20px;
  margin-right: 10px;
}

.search-bar input {
  width: 100%;
}

#AuthPage {
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1581683705068-ca8f49fc7f45?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  color: #efefef;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}
#AuthPage h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
}
#AuthPage h1 span {
  color: #8fdd92;
}
#AuthPage hr {
  margin: 2.5vh 0;
  width: 16rem;
}
#AuthPage .auth-option {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0 3vw;
  background: #efefef;
  border-radius: 8px;
  border: rgba(75, 74, 74, 0.1843137255) 1px solid;
  font-weight: 500;
  height: 2.5rem;
  margin: 0.5vh 0;
  width: 16rem;
}
#AuthPage .auth-option img {
  height: 2rem;
  width: auto;
  margin: 0 2vw;
}
#AuthPage .auth-option:last-child {
  align-items: center;
  justify-content: center;
  background: #8fdd92;
  color: #efefef;
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background: #efefef;
}
.navbar a img {
  height: 35px;
  width: auto;
}

#ClientHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  max-width: 100%;
}
#ClientHome .search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 15vh;
  background: #8fdd92;
}
#ClientHome .search-bar .searchbar-content {
  height: 50%;
  width: 55%;
  border: none;
  border-radius: 18px;
  background: #efefef;
  padding-left: 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#ClientHome .search-bar .searchbar-content input,
#ClientHome .search-bar .searchbar-content button {
  background: none;
  border: none;
}
#ClientHome .search-bar .searchbar-content button {
  outline: #1d1d1d 2px solid;
  border-radius: 18px;
  height: 100%;
  width: 100%;
}
#ClientHome .nearby-list,
#ClientHome .popular-list,
#ClientHome .recent-list {
  margin: 5vh 0;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  align-items: center;
}
#ClientHome .nearby-list .shopCard,
#ClientHome .popular-list .shopCard,
#ClientHome .recent-list .shopCard {
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 80%;
  width: 100%;
  margin: 0 2vw;
}
#ClientHome .nearby-list .shopCard img,
#ClientHome .popular-list .shopCard img,
#ClientHome .recent-list .shopCard img {
  height: 100px;
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
#ClientHome .nearby-list .shopCard .shopName,
#ClientHome .popular-list .shopCard .shopName,
#ClientHome .recent-list .shopCard .shopName {
  font-size: 1rem;
}
#ClientHome .nearby-list .shopCard .distance,
#ClientHome .popular-list .shopCard .distance,
#ClientHome .recent-list .shopCard .distance {
  font-size: 0.85rem;
  opacity: 0.5;
}

#Client-CommandList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100%;
  padding: 5vh 0;
}
#Client-CommandList h2 {
  font-size: 1.5rem;
}
#Client-CommandList .sousTitreCheckout {
  color: #8FDD92;
}
#Client-CommandList .buttonCheckout {
  margin: auto;
  background: rgb(208, 244, 208);
  border: 3px solid rgb(208, 244, 208);
  border-radius: 12px;
  width: 40%;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 210px;
  height: 45px;
  font-size: large;
}
#Client-CommandList .button1 {
  color: #3c9840;
  background: #8FDD92;
  border: none;
  border-radius: 12px;
  width: 140px;
  padding: 5px 5px;
  margin-top: 15px;
  /* margin-top: 5%;
  margin-bottom: 5%; */
}
#Client-CommandList h5 {
  margin-top: 10px;
}
#Client-CommandList .button2 {
  color: #8a62e0;
  padding: 5px 5px;
  background: #AF9BDA;
  border: none;
  border-radius: 12px;
  width: 140px;
  margin-top: 15px;
  /*  margin-top: 5%;
   margin-bottom: 5%; */
}
#Client-CommandList .button3 {
  color: #407874;
  padding: 5px 5px;
  background: #93D5D1;
  border: none;
  border-radius: 12px;
  width: 140px;
  margin-top: 15px;
  /*  margin-top: 5%;
   margin-bottom: 5%; */
}
#Client-CommandList .buttonLivraison {
  margin: auto;
  background: rgb(208, 244, 208);
  border: 3px solid rgb(208, 244, 208);
  border-radius: 12px;
  color: #8FDD92;
}
#Client-CommandList .command-list {
  display: flex;
  flex-direction: column;
}
#Client-CommandList .command-list .command-item {
  display: flex;
  flex-direction: row;
  margin: 2vh 0;
}
#Client-CommandList .command-list .command-item .command-item-image {
  width: 160px;
  height: auto;
  margin: 0 0.5vw;
  -o-object-fit: cover;
     object-fit: cover;
}
#Client-CommandList .command-list .command-item .command-item-info {
  display: flex;
  flex-direction: column;
}

#main-info {
  height: 100vh;
  width: 100%;
  padding: 2vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#main-info .pfp {
  outline: #8fdd92 5px solid;
  border-radius: 60%;
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5vh 0;
}
#main-info .pfp img {
  height: 80%;
  width: 80%;
}
#main-info .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#main-info .info input,
#main-info .info button {
  margin: 1vh 0;
}
#main-info .info input {
  border: none;
  background: none;
  height: 2.5vh;
  border-bottom: 2px solid #1d1d1d;
}
#main-info .info input:hover, #main-info .info input:focus {
  border-bottom: 3px solid #8fdd92;
  outline: none;
}

.TitreQR {
  text-align: center;
  padding-bottom: 10%;
}

.SousTitreQR {
  text-align: center;
  padding-top: 5%;
}

.unique-code {
  border: 10px solid #8FDD92;
  border-radius: 12px;
}/*# sourceMappingURL=index.css.map */