@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
}
$dark: #1d1d1d;
$light: #efefef;
$green: #8fdd92;

body {
  background-color: $light;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $dark;
  background: $light;
  height: 100vh;
  outline: $green 2px solid;
}

#ClientHome .search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 15vh;
  background: #8fdd92;
}

#ClientHome .search-bar .searchbar-content button {
  border-radius: 18px;
  height: 100%;
  background-color: gray;
  color: white;
  cursor: pointer;
  font-size: 11px;
  padding: 0 6px;
}

.LogoTab img {
  width: 104px;
}

#ClientHome .search-bar .searchbar-content {
  height: 50%;
  width: 55%;
  border: none;
  border-radius: 18px;
  background: #efefef;
  padding-left: 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loupe {
  width: 20px;
  margin-right: 10px;
}

.search-bar input {
  width: 100%;
}



@import "./components/Auth";
@import "./components/navbar";
@import "./components/client/Home";
@import "./components/client/CommandList";
@import "./components/client/Profile";
@import "./components/client/PersonnalCode";
